# 1.List

In [2]:
list1=["rohan",1,5]
list1

['rohan', 1, 5]

In [3]:
#ordered 
#changable
#duplicates allowed
#indexed
#heterogeneous

In [4]:
list1=["rohan",1,5,"apple",5]
list1

['rohan', 1, 5, 'apple', 5]

In [5]:
print(len(list1)) #length of list

5

In [ ]:
#list() constructor
#creates list from iterable
#syntax: list(iterable)

In [7]:
list2=list(("apple","banana","cherry"))
list2

['apple', 'banana', 'cherry']

In [8]:
#accessing list items
print(list1[0]) #first item
print(list1[-1]) #last item
print(list1[1:4]) #slicing
print(list1[::2]) #step
print(list1[::-1]) #reverse list
print(list1[1:]) #from index 1 to end
print(list1[:3]) #from start to index 3

rohan
5
[1, 5, 'apple']
['rohan', 5, 5]
[5, 'apple', 5, 1, 'rohan']
[1, 5, 'apple', 5]
['rohan', 1, 5]

In [9]:
#negative indexing
print(list1[-3]) #third last item

5

In [10]:
list1

['rohan', 1, 5, 'apple', 5]

In [12]:
#range of indexes
print(list1[1:4]) #from index 1 to 3
print(list1[-4:-1]) #from index -4 to -2

[1, 5, 'apple']
[1, 5, 'apple']

In [13]:
#checking item exists
if "apple" in list1:
    print("yes, 'apple' is in the list")

yes, 'apple' is in the list

In [14]:
#changing item value
list1[1]="banana"
list1

['rohan', 'banana', 5, 'apple', 5]

In [15]:
list1[1:3]=["blackcurrant","watermelon"]
list1

['rohan', 'blackcurrant', 'watermelon', 'apple', 5]

In [16]:
#inserting items
list1.insert(2,"kiwi") #inserts at index 2
list1

['rohan', 'blackcurrant', 'kiwi', 'watermelon', 'apple', 5]

In [17]:
#append() - adds item to end of list
list1.append("orange")
list1

['rohan', 'blackcurrant', 'kiwi', 'watermelon', 'apple', 5, 'orange']

In [18]:
#list methods
#append() - adds item to end of list
#clear() - removes all items
#copy() - returns a copy of the list        
# count() - returns the number of items with the specified value
# extend() - adds the elements of a list (or any iterable), to the end of the current list
# index() - returns the index of the first element with the specified value
# insert() - adds an element at the specified position
# pop() - removes the element at the specified position
# remove() - removes the item with the specified value
# reverse() - reverses the order of the list
#  sort() - sorts the list
# sor() - sorts the list
#   del - removes the item at the specified index
#  del - can also delete the list completely
#  del - can also delete a range of indexes

In [20]:
list1.extend(["mango","grapes"])
print(list1)

['rohan', 'blackcurrant', 'kiwi', 'watermelon', 'apple', 5, 'orange', 'mango', 'grapes', 'mango', 'grapes']

In [22]:
list1.remove("kiwi")
print(list1)

['rohan', 'blackcurrant', 'watermelon', 'apple', 5, 'orange', 'mango', 'grapes', 'mango', 'grapes']

In [23]:
list1.pop()
print(list1)

['rohan', 'blackcurrant', 'watermelon', 'apple', 5, 'orange', 'mango', 'grapes', 'mango']

In [25]:
list1.pop(1) #removes item at index 1
print(list1)

['rohan', 'watermelon', 'apple', 5, 'orange', 'mango', 'grapes', 'mango']

In [1]:
del list1
list1

NameError: name 'list1' is not defined

In [2]:
list=[1,2,3,4,5,6,6,7,7]

In [5]:
list.clear()
list

[]

In [7]:
list2=[1,2,3,4,5,6]
for x in list2:
    print(x)

1
2
3
4
5
6

In [21]:
list=[1,2,3,4,5,6,6]
for x in list: print(x)

1
2
3
4
5
6
6

In [ ]:
#sort
list1=[5,3,6,3,2,6,54,3,75,754] 
list1.sort() # sort in ascending order
list1

[2, 3, 3, 3, 5, 6, 6, 54, 75, 754]

In [ ]:
list1.sort(reverse=True) # sort in descending order
list1

[754, 75, 54, 6, 6, 5, 3, 3, 3, 2]

In [23]:
list=["apple","banana","cherry"]
list.reverse()
list

['cherry', 'banana', 'apple']

 Feature	           list.reverse()	                              list.sort(reverse=True)
  Purpose	       Reverses the current order of elements.	    Sorts elements in descending order.
  Logic	           Based on index position.	                    Based on element value.
  Example	       [1, 9, 2] becomes [2, 9, 1]               	[1, 9, 2] becomes [9, 2, 1]

In [8]:
score=float(input("Enter Score: "))
if score<0.0 or score>1.0:
    print("Error")
elif score<0.6:
    print("F")
else:
    match score:
        case 0.9:
            print("A")
        case 0.8:
            print("B")
        case 0.7:
            print("C")
        case 0.6:
            print("D")

D