In [1]:
#Python Complex data types: Using string data type and string operations, Defining list and list slicing, Use of Tuple data type. String, List and Dictionary, Manipulations Building blocks of python programs, string manipulation methods, List manipulation. Dictionary manipulation, Programming using string, list and dictionary in-built functions. Python Functions, Organizing python codes using functions.

In [2]:
#String Data Type & Operations

In [8]:
s = "Python Programming"
print(s[0])       # First character

P

In [9]:
print(s[-1])      # Last character

g

In [10]:
print(s[0:6])     # Slicing: 'Python'

Python

In [11]:
print(len(s))     # Length of string

18

In [12]:
#String Manipulation Methods

In [5]:
text = " hello world "

print(text.upper())      # HELLO WORLD

 HELLO WORLD
 hello world
hello world
 hello Python
['hello', 'world']
False

In [13]:
print(text.lower())      # hello world

 hello world

In [14]:
print(text.strip())      # removes spaces → "hello world"

hello world

In [15]:
print(text.replace("world", "Python"))  # hello Python

 hello Python

In [16]:
print(text.split())      # ['hello', 'world']

['hello', 'world']

In [17]:
print("Python" in text)  # True/False check

False

In [6]:
#List Data Type & Slicing

In [18]:
fruits = ["apple", "banana", "cherry", "mango"]

print(fruits[0])       # apple

apple

In [19]:
print(fruits[-1])      # mango

mango

In [20]:
print(fruits[1:3])     # ['banana', 'cherry']

['banana', 'cherry']

In [21]:
print(len(fruits))     # 4

4

In [22]:
#List Manipulation

In [23]:
fruits = ["apple", "banana", "cherry", "mango"]

In [24]:
fruits

['apple', 'banana', 'cherry', 'mango']

In [27]:
fruits.append("orange")     # add item

In [28]:
fruits.insert(1, "grapes")  # insert at position

In [29]:
fruits.remove("banana")     # remove item

ValueError: list.remove(x): x not in list

In [30]:
fruits.pop()                # removes last item

'orange'

In [31]:
fruits.sort()               # sorts list
print(fruits)

['apple', 'cherry', 'grapes', 'grapes', 'mango', 'orange']

In [32]:
#3. Tuple Data Type

In [37]:
#A tuple is like a list but immutable (cannot be changed).

#Defined using ().
#Tuples are often used when data should not change.

In [38]:
colors = ("red", "green", "blue")

print(colors[0])       # red

red

In [39]:
print(colors[-1])      # blue

blue

In [40]:
print(len(colors))     # 3

3

In [41]:
#4. Dictionary Data Type

In [42]:
#A dictionary stores data as key-value pairs inside {}.

#Keys are unique, values can be duplicated.

In [44]:
student = {"name": "Aman", "age": 22, "grade": "A"}

print(student["name"])

Aman

In [45]:
print(student.get("age"))

22

In [46]:
print(student.keys())       # dict_keys(['name', 'age', 'grade'])

dict_keys(['name', 'age', 'grade'])

In [47]:
print(student.values())

dict_values(['Aman', 22, 'A'])

In [48]:
#Dictionary Manipulation

In [49]:
student["age"] = 23       # update
student["city"] = "Delhi" # add new key
del student["grade"]      # delete key

for key, value in student.items():
    print(key, ":", value)

name : Aman
age : 23
city : Delhi

In [50]:
#5. Programming using String, List, Dictionary Functions

In [51]:
#Example 1 – Count word frequency in a string

In [52]:
text = "python is easy and python is powerful"
words = text.split()
word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print(word_count)

{'python': 2, 'is': 2, 'easy': 1, 'and': 1, 'powerful': 1}

In [53]:
#Example 2 – Reverse words in a string

In [54]:
sentence = "I love Python"
words = sentence.split()
reversed_sentence = " ".join(words[::-1])
print(reversed_sentence)

Python love I

In [55]:
#Example 3 – Find max number from a list

In [56]:
numbers = [10, 25, 7, 33, 18]
print("Max:", max(numbers))
print("Min:", min(numbers))
print("Sum:", sum(numbers))

Max: 33
Min: 7
Sum: 93

In [1]:
S = 'ABCDEFGHI'
print(S[2:7])
print(S[-7:-2])
print(S[2:-5])

CDEFG
CDEFG
CD